<h1>Preview#index</h1>
<p>Find me in app/views/action_view_preview/preview/index.html.erb</p>
Hello index
<% @previews.each do |preview| %>
  <h3><%= preview.preview_name.titleize %></h3>
  <ul>
    <% preview.views.each do |view| %>
      <li><%= link_to view, url_for(controller: "action_view_preview", action: "show", path: "#{preview.preview_name}/#{view}") %></li>
    <% end %>
  </ul>
<% end %>
