<h3><%= @preview.preview_name.titleize %></h3>
<ul>
  <% @preview.views.each do |view| %>
    <li><%= link_to view, url_for(controller: "preview", action: "show", path: "#{@preview.preview_name}/#{view}") %></li>
  <% end %>
</ul>
